.placeholder{
  &::before{
    content: attr(placeholder);
    position: absolute;
    left: 0;
    top:0;
    z-index: 99;
    color: @gray-light;
    line-height: 21px;
    font-size: 16px;
    padding: 0 4px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  }
}
[custom-input]{
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  &:empty:not(:focus)::before{
    content: attr(data-placeholder);
    color: @gray-light;
  }
}
.post-title{
  font-weight: 700;
}
.post-tagline{
  font-weight: 200;
}