#menu-sidebar{
  overflow: auto;
  color: @gray-light;
  background-color: @gray-dark;
  a {
    color: @gray-light;
    &:hover{
      color: @gray-lighter;
      text-decoration: none;
    }
  }
  footer{
    color: @gray-light;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 15px;
    font-size: round(@font-size-base * 0.8);
    text-align: center;
    >a>i{
      vertical-align: text-top;
    }
  }
}
.sidebar-wrap{
  padding: 15px 20px;
  position: relative;
  min-height: 100%;
}

.menu{
  .list-unstyled;
  margin-bottom: 50px;
  > li > a{
    display: block;
    font-size: @font-size-base;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    > i{
      width: @font-size-large;
      font-size: @font-size-large;
      margin-right: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-bottom;
    }
  }
}